@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  margin: 0; height: 100%; overflow: hidden;
}
a {
  text-decoration: none;
}
.link-basic {
  @apply underline underline-offset-2 font-pridi text-gray-600 dark:text-white cursor-pointer;
}
