@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html, body, #root {
  margin: 0; height: 100%; overflow: hidden;
}
a {
  text-decoration: none;
}
svg.map {
  pointer-events: none;
}

path.county {
  pointer-events: all;
}

.text {
  @apply text-gray-600 dark:text-white font-pridi
}

.text-cabin {
  @apply text-gray-600 dark:text-white font-cabin
}
.link-basic {
  @apply underline underline-offset-2 text cursor-pointer;
}
.btn {
  @apply text-xl flex justify-center items-center tracking-wide font-cabin rounded-full;
}
.btn.outlined {
  @apply bg-transparent border-solid border text-gray-600 border-gray-600 hover:text-white hover:bg-gray-600;
}
.btn.outlined-dark {
  @apply dark:text-white dark:border-white hover:dark:text-gray-600 hover:dark:bg-white;
}
.header {
  @apply flex justify-center items-center bg-bg-light-outer dark:bg-bg-dark-outer shadow-xl rounded-br-xl rounded-bl-xl py-5 select-none;
}
.footer {
  @apply flex flex-col justify-center items-center bg-bg-light-outer dark:bg-bg-dark-outer shadow-xl rounded-tr-xl rounded-tl-xl py-5 w-screen h-fit;
}

.view {
  @apply flex-grow h-fit flex overflow-hidden flex-col px-10 py-10 w-screen md:w-[600px] self-center;
}
.scrollable-view {
  @apply view !overflow-y-auto;
}
.color-circle {
  @apply w-10 h-10 rounded-full cursor-pointer border-2 border-transparent;
}
.color-circle.red {
  @apply bg-pr-red-light hover:border-pr-red dark:bg-pr-red dark:hover:border-pr-red-light;
}
.color-circle.red.border {
  @apply border-pr-red dark:border-pr-red-light;
}
.color-circle.green {
  @apply bg-pr-green-light hover:border-pr-green dark:bg-pr-green dark:hover:border-pr-green-light;
}
.color-circle.green.border {
  @apply border-pr-green dark:border-pr-green-light;
}
.color-circle.blue {
  @apply bg-pr-blue-light hover:border-pr-blue dark:bg-pr-blue dark:hover:border-pr-blue-light;
}
.color-circle.blue.border {
  @apply border-pr-blue dark:border-pr-blue-light;
}
/* ! FOR PRIMARY BUTTONS (CUSTOM COLORS) */
.bg-red-hover-light {
  @apply bg-pr-red hover:bg-pr-red-light;
}.bg-blue-hover-light {
  @apply bg-pr-blue hover:bg-pr-blue-light;
}
.bg-green-hover-light {
  @apply bg-pr-green hover:bg-pr-green-light;
}
.text-primary-red {
  @apply text-pr-red;
}

.text-primary-green {
  @apply text-pr-green;
}

.text-primary-blue {
  @apply text-pr-blue;
}

.text-primary-red {
  @apply text-pr-red;
}
/* !----------------------------------------------- */

/* ! ONLY BGs */
.bg-red {
  @apply bg-pr-red;
}
.bg-blue {
  @apply bg-pr-blue;
}
.bg-green {
  @apply bg-pr-green;
}

.fill-red {
  @apply fill-pr-red;
}
.fill-blue {
  @apply fill-pr-blue;
}
.fill-green {
  @apply fill-pr-green;
}

.border-color-blue {
  @apply border-pr-blue;
}
.border-color-red {
  @apply border-pr-red;
}
.border-color-green {
  @apply border-pr-green;
}
/* !----------------------------------------------- */
.switch-base {
  @apply w-14 h-7 border inline-block relative rounded-full;
}
.switch-circle {
  @apply rounded-full w-5 h-5 absolute mx-1;
}
.textarea {
  @apply rounded-xl bg-bg-light-outer p-3 text-black border border-bg-dark-inner resize-none;
}
.textarea:focus {
   outline: none;
}

.interest {
  @apply rounded-full w-[110px] h-[110px] object-center object-contain bg-white;
}

.toast-base {
  @apply cursor-pointer z-50 bg-bg-light-outer dark:bg-bg-dark-outer shadow-xl mx-auto relative;
}

.toast-icon {
  @apply mt-[2px] ml-[2px] h-[60px] w-[60px] flex justify-center items-center rounded-full;
}
